<script setup lang="ts">
import useApi from '@/composables/api'
import { MATH, DATE } from '@/composables/api/routes'
import { defineComponent, onBeforeMount, ref } from 'vue'
const mathFact = ref('')
const isLoadingMathFact = ref(false)
const isLoadingDateFact = ref(false)
const dateFact = ref('')
const logs = ref<string[]>([])
const { fetchData } = useApi()

function getRandomInt(min: number, max: number): number {
  return Math.floor(Math.random() * (max - min + 1)) + min
}

const fetchMathFact = async (): Promise<void> => {
  isLoadingMathFact.value = true
  const randomValue = getRandomInt(1, 10)
  try {
    const response: string = await fetchData(`${randomValue}${MATH}`)
    mathFact.value = response
    logs.value.unshift(mathFact.value)
    isLoadingMathFact.value = false
  } catch (error) {
    console.error(error)
    isLoadingMathFact.value = false

  }
}

const fetchDateFact = async (): Promise<void> => {
  isLoadingDateFact.value = true
  const randomValue = getRandomInt(1, 10)
  try {
    const response: string = await fetchData(`${randomValue}${DATE}`)
    dateFact.value = response
    logs.value.unshift(dateFact.value)
    isLoadingDateFact.value = false
  } catch (error) {
    console.error(error)
    isLoadingDateFact.value = false

  }
}
onBeforeMount(async () => {})
</script>

<template>
  <main class="w-full mx-auto max-w-7xl px-6 lg:px-8 text-gray-900 text-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="">
        <div
          class="mb-8 rounded-lg bg-white px-4 text-left shadow-md transition-all md:my-10 md:w-full md:max-w-lg md:p-10 border border-primary"
        >
          <div class="flex justify-between flex-wrap items-center">
            <b class="font-medium text-black text-xl text-center mb-2">Logs</b>
            <button
              @click="fetchMathFact"
              :disabled="isLoadingMathFact"
              type="button"
              class="rounded-full bg-red-700 px-3 py-2 text-sm font-light text-white shadow-sm hover:bg-red-600 disabled:bg-red-200"
            >
              Fetch
            </button>
          </div>
          <div class="mt-4 text-sm font-light text-black">
            {{ mathFact }}
          </div>
        </div>
        <div
          class="rounded-lg bg-white px-4 text-left shadow-md transition-all md:my-10 md:w-full md:max-w-lg md:p-10 border border-primary"
        >
          <div class="flex justify-between flex-wrap items-center">
            <b class="font-medium text-black text-xl text-center mb-2">Logs</b>
            <button
              @click="fetchDateFact"
              :disabled="isLoadingDateFact"
              type="button"
              class="rounded-full bg-red-700 px-3 py-2 text-sm font-light text-white shadow-sm hover:bg-red-600 disabled:bg-red-200"
            >
              Fetch
            </button>
          </div>
          <div class="mt-4 text-sm font-light text-black">
            {{ dateFact }}
          </div>
        </div>
      </div>
      <div
        class="md:mt-8 mb-8 rounded-lg bg-white px-4 text-left shadow-md transition-all md:my-10 md:w-full md:max-w-lg md:p-10 border border-primary"
      >
        <b class="font-medium text-black text-xl text-center mb-2">Logs</b>
        <div class="mt-4 text-sm font-light text-black">
          <ul role="list" class="list-outside list-disc mx-4 ">
            <li v-for="(log, index) in logs" :key="index" class="mb-4">
              <p class="text-sm text-gray-500" :class="index == 0 ? 'text-primary' : ''">
                {{log}}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</template>
